.parent {
    background-color: orange;
    height: 100vh;
    width: 100%;
    align-items: center;
    transition: all 0.3s ease;
}

.parentAfterClick {
    background-color:rgba(187, 149, 78, 0.1);
   
    height: 100vh;
    width: 100%;
    align-items: center;
    
}

.doff {
    
    display : none;
    transition: all 0.3s ease;
}

.open {
    align-self: center;
    margin-top: 50vh;
    width: 200px;
    border-radius: 20px;
    height: 30px;
    background-color: rgb(238, 214, 170);
    font-weight: bold;
    color: black;
    border: none;
    transition: all 0.3s ease;
    
}

button:hover {
    transform: scale(1.1);
    background-color: purple;
    color: white;
    cursor: pointer;
}